#m_left div.vertical_nav li a { color:#66e;}
#m_left{position:absolute; z-index:1;}
#m_left{width:200px;}
#main{clear:both;}
.clear{height:1px;width:1px;clear:both;}

#m_right{float:right;margin-left:200px; width:95%;
border:1px solid #ccc;border-radius: 10px;}