/*----------------------------------------
Des: 公共页面的 CSS
Developed by: 可乐加糖
Developer email:black.angel.liu@gmail.com
Date Created:2009-10-25
Last Updated:2009-10-25
Copyright: 北京国之源
----------------------------------------*/

/* 导入
----------------------------------------*/
@import url("reset.css");
@import url("externalLinks.css");

/* 元素
----------------------------------------*/
body
{
	text-align:center;
	/*background: url("../images/bg-5.gif") left top repeat;*/
}

body, p, td, th, li
{
	font-family: tahoma, arial, sans-serif;
	font-size:12px;
	line-height:1.5em;
	color:#000000;
	word-break:break-all;
}
/* 整个页面上的布局 */
#wapper
{
	width:960px;
	margin:0px auto;
	padding:0px 6px;
	border:1px solid #eaeaea;
	background-color: #fff;
}
p
{
	margin: 0 0 1em 0;
}

/*--- 链接样式 ---*/
a:link, a:visited
{
	color:#054150;
	text-decoration:none;
}

a:hover, a:active
{
	text-decoration:underline;
	color:#0BA4CA;
}

h1
{
	margin:.825em 0 .5em 0;
	font-size:28px;
}

h2
{
	margin:.825em 0 .5em 0;
	font-size:1.75em;
}

h3
{
	margin:.825em 0 .5em 0;
	font-size:1.5em;
}

h4
{
	margin:.825em 0 .5em 0;
	font-size:1.25em;
}

h5
{
	margin:.825em 0 .5em 0;
	font-size:1.125em;
}

h6
{
	margin:.825em 0 .5em 0;
	font-size:1em;
}

ul
{
	margin-left:25px;
	list-style-type:none;
}

ol
{
	margin-left:25px;
}
blockquote	{margin: 0 0 18px 18px; font-style: italic;}
strong		{font-weight:bold;}
em		{font-style:normal;}

/* 常用基础样式
----------------------------------------*/
.left 		{float:left;}
.right 		{float:right;}
.clearThis 	{clear:both;}
.small		{font-size:.625em;}
.large		{font-size:1em;}
.soft		{color:#D3D3D3;}
.hide		{display:none;}
.fontbold   {font-weight:bold;}
p.last		{margin-bottom:0px;}
.hidden     {display: none;}
.show     {display: block;}


/* 快速填充样式 */
.padLeft-10{padding-left:10px;}
.padLeft-20{padding-left:20px;}
.padLeft-30{padding-left:30px;}
.padLeft-40{padding-left:40px;}

.padRight-10{padding-right:10px;}
.padRight-20{padding-right:20px;}
.padRight-30{padding-right:30px;}
.padRight-40{padding-right:40px;}

.martop10{margin-top:10px;}
.martop20{margin-top:20px;}
.martop30{margin-top:30px;}

.marbottom10{margin-bottom:10px;}
.marbottom20{margin-bottom:20px;}
.marbottom30{margin-bottom:30px;}

.marleft10{margin-left:10px;}
.marleft20{margin-left:20px;}
.marleft30{margin-left:30px;}

.marright10{margin-right:10px;}
.marright20{margin-right:20px;}
.marright30{margin-right:30px;}

.alignLeft{text-align:left;}
.alignRight{text-align:right;}
.alignCenter{text-align:Center;}

.bgBlue{background-color:#108AC6;display:block;height:30px;}
.bluebutton{background-color:#108AC6;color:#fff;border:1px solid #108AC6;min-width:50px;}

/* 内容对齐的样式 */
.cneteralign{
	text-align:center;
}
.cneteralign img{
	padding:3px;
	border:1px solid #ccc;
	width:112px;
	height:57px;
}

/* 给图片加上边框的样式 */
.imgcontent{
	padding:4px;
	border:1px solid #fff;
}

/* 给四块主要的内容设置背景色和边框 */
#header,#maincontent,#footer,#mainnav{
	background:#FFF;
}
/* 头部导航
----------------------------------------*/
.positionNav{
	height:25px;
	line-height:25px;
}
/* 导航上面的 '>' 分隔符 */
.splitmark{
	margin:0px 5px;
}



/* 顶部上面操作区域 如：首页，个人空间，登陆，退出等。。
----------------------------------------*/
#floattop{
	width:100%;
	height:38px;
	background: url(../images/skin-blue/topflotbg.gif) left top repeat-x;
}
#floattop input{
	font-size: 12px;
}
#floattop #loginuname,#floattop #loginupass{
	/* 用户登陆输入用户名字的登录框 */
	background: url(../images/unameinputbg.gif) left center no-repeat;
	height:20px;
	border:1px solid #dedede;
	padding-left:15px;
	width:102px;
} 
/* IE6 hack */
*html #floattop #loginuname{margin-top:3px;padding-top:3px;}
*html #floattop #loginupass{margin-top:3px;padding-top:3px;}

#floattop #loginupass{background: url(../images/upassinputbg.gif) left center no-repeat;} /* 用户登陆输入用户名字的登录框 */
#floattop #loginbutton{
	background:url(../images/toploginbutton.gif) left center no-repeat;
	width:64px;
	height:24px;
	text-indent:-9999px;
}


#floattop select{
	width:55px;
	height:21px;
	line-height:21px;
}
#floattop #queryString{
	width:188px;
	height:18px;
	line-height:18px;
	border:1px solid #cac9d6;
}
*html #floattop #queryString{
	width:150px;
}
* +html #floattop #queryString{
	width:150px;
}
#floattop .left li,#floattop .right li{
	float:left;
	padding:0px 8px;
	height:30px;
	line-height:30px;
}
/* 左侧的操作区域 */
#floattop ul{
	margin:0px;
}

#floattop .left li a{
	color:#fff;
}
#floattop .left li a:hover{
	color:#fff;
}
/* 右侧的操作区域 */
#floattop .right li a{
	height: 22px;
	line-height: 22px;
}
#floattop .right li a:hover{
	background-color:#999;
	color:#fff;
}
/* 这个是新加上去的,把原来的MAINNVA替换掉了 */
#floattop #mainav{
	height:56px;
}
#floattop #mainav ul{
	margin-left:20px;
	margin-top:7px;
	float:left;
}
#floattop #mainav ul li{
	float:left;
}
#floattop #mainav ul li a{
	padding:11px 20px;
	color:#fff;
	display:block;
}
/* ---------------------------顶部的浮动区域样式设置完毕--------------------------- */

#header
{
	width:940px;
	height:156px;
	background-color:#b6b0ab;
	background:url(../images/headerbg.gif) left top no-repeat;
	padding:10px;
}
#headerbg{
	height:156px;
	width:940px;
	position:absolute;
	background:url(../images/skin-blue/tempheader2.gif) left top no-repeat;
}
#header #mainav{
	margin:0px;
	position: relative;
	float:left;
	background-color: #4566ad;
	left:186px;
	top:100px;
}
#header #mainav li{
	float: left;
}
#header #mainav li span a{
	color:#fff;
	font-size:14px;
	padding:10px 10px;
	display: block;
}
#header #mainav li a.select{
	background:url(../images/skin-blue/mainnavselectbg.gif) center top repeat-x;
}
/* 搜索条 */
#searchbanner{
	width:951px;
	height:41px;
	line-height:41px;
	background:url(../images/skin-pink/searchbanner.gif) left center no-repeat;
	margin:0px auto;
}
#searchbanner .left span{
	padding-left:20px;
	color:#fff;
}
#searchbanner ul li{
	float:left;
}
/* 滚动公告条 */
#advscorllpanel{
	float:left;
	margin-top:3px;
	width:517px;
	background:url(../images/skin-pink/scrollbg.gif) left center no-repeat;
}
#advscorllpanel span,#advscorllpanel a{
	color:#fff!important;
}
#scrolldiv{
	float:left;
	margin-top:5px; 
	width:495px; 
	height:29px; 
	line-height:29px; 
	overflow:hidden;
}
#scrolldiv ul{
	height:29px; 
	line-height:29px;
	margin:0; 
	padding:0;
	padding-left:20px;
}
#scrolldiv li{
	line-height:29px;
	padding-left:5px;
	height:29px; 
	overflow:hidden;
	width:192px;
	list-style:circle!important;
}
#scrollcontroler{
	margin-top:5px;
	float:right;
	width:12px;
	margin-right:10px;
}
#scrollcontroler a{
	float:left;
	height:auto;
	display:block;
	margin-top:5px;
}

/* 站点搜索 */
#sitesearch{
	float:right;
	margin-right:10px;
}
#sitesearch ul{
	display:inline;   /* IE6 HACK */
	margin-left:0px;
}
#sitesearch ul li{
	height:41px; 
	line-height:41px; 
	margin-left:4px;
	*margin-left:0px;
}
#sitesearch ul li span a{
	text-decoration:none;
	color:#fff;
}
* +html #sitesearch ul li span a{
	padding-top:3px;
	display:block;   /* V_V  白痴IE 7!!! */
}
#sitesearch ul li #searchtxtinput{
	width:192px;
	height:22px;
	line-height:22px;
	*height:21px;
	padding-right:21px;
	background:url(../images/searchborderbg.gif) right center no-repeat;
	background-color:#fff;
	border:1px solid #dedede;
}
#sitesearch ul li input{
	margin-top:10px;
}
* +html #sitesearch ul li input{
	margin-top:5px;
}
/* 搜索框和搜索按钮 */
#sitesearch ul li #searchbutton{
	background:url(../images/skin-pink/searchbutton.gif) left top no-repeat;
	width:62px;
	height:24px;
	border:none;
}



/* -------------------面包屑导航----------------------- */
.nav{
	border:1px solid #dedede;
	height:2.3em;
	margin-bottom:5px;
}
.nav li{
	float:left;
	line-height:2.3em;
	padding-left:.75em;
	color:#777;
}
.nav li a{
	display:block;
	padding:0 15px 0 0;
	background:url(../images/crumbs.gif) no-repeat right center;
}
/* ------------------面包屑导航结束-------------------- */

#header h1{
	/* 首先需要清理一下原有的间隔 */
	margin:0px;
	left:50px;
	top:60px;
	font-family:sans-serif;
	color:#000;
	position: relative;
}

	/* 导航的容器 */
	#mainnav{
		width:955px;
	}
	/* 导航
	----------------------------------------*/
	ul#nav
	{
		
	}
	ul#nav li {float:left; list-style-type:none; margin-left:10px;}
	/* 导航的图片替换
	----------------------------------------*/
	ul#nav li a {
		/*Set to height of image*/ 
		height:20px; 
		display:block; 
		/*text-indent:-9999px;*/ 
		outline:none;
	}
	/*Include all of your links with unique IDs. Use the correct path to the image and set the width of each image*/
	li#navHome a{
		background-image: url(/images/nav/home.png); 
		width:75px;
	}
	li#navWork a{
		background-image:url(/images/nav/work.png);
		 width:70px;
	}
	li#navServices a{
		background-image:url(/images/nav/services.png);
		 width:68px;
	}
	li#navContact a{
		background-image: url(/images/nav/contact.png); 
		width:55px;
	}
	/* 常用导航连接鼠标划过的样式 navHom(主页) */
	li#navHome a:hover,li#navWork a:hover,li#navServices a:hover,li#navContact a:hover{
		/*如果有图片的话，必须为图片设置高度!必须为负数!(便于SEO的优化，一般我们把图片放在页面上显示，把字符丢到页面外面去。)*/
		background-position:0 -20px; 
	}
/* 主框架
----------------------------------------*/
#maincontent{
	width:960px;
}

/* 底部
----------------------------------------*/
#footer
{
	border-top:1px solid #e1e9ef;
	width:960px;
	margin-top:20px;  /* 修复了在IE下顶编剧的问题 */
	height:50px;
	float:left; /* 在IE下部分页面没有浮动，宽度显示就不正确 */
}
#footer p{
	color:#ccc;
	text-align: right;
}
/* 分页代码开始 */
#pages {
	float:left;
	padding:10px;
	text-align:center;
	width:90%;
}
#pages ul {
	list-style-type: none;
}
#pages li {
	float: left;
	display: inline;
	margin: 0 5px 0 0;
	display: block;
}
#pages li a {
	color: #fe5200;
	padding: 4px;
	border: 1px solid #ccc;
	text-decoration: none;
	float: left;
}
#pages li a:hover {
	color: #638425;
	background: #DBF9B5;
	border: 1px solid #85bd1e;
}
#pages li.nolink {
	color: #CCC;
	border: 1px solid #F3F3F3;
	padding: 4px;
}
#pages li.current {
	color: #FFF;
	border: 1px solid #b2e05d;
	padding: 4px;
	background: #b2e05d;
}

/* 后端管理界面内容页面的统一宽度 */
#managerwapper{
	width:750px;
	height:680px;
	background-color:#fff;
}
#managerwapper h6{
	font-size:14px;
	background:#108AC6 url(../images/corner.gif) no-repeat scroll  top right;
	margin:0px;
	width:730px;
	height:30px;
	border:none;
	line-height:30px;
	padding-left:20px;
	color:#fff;
	margin-bottom:20px;
}
#managerwapper table{
	
}
#managerwapper table th{
	
}
#managerwapper table td{
	
}

p.post_bottom_panel{
	padding-top:60px;
}

.page{
	width:100%;
	margin-top:10px;
}
/*--按钮样式--*/
input.submit { 	
	width:77px!important;
	height:23px;
	background:url(../images/submit.gif) left center no-repeat;
	border:none;
	font-size:12px;
	font-weight:bold;
	color:#fff;
}
input.submit01{
	width:100px;
	height:23px;
	background:url(../images/submit01.gif) left center no-repeat;
	border:none;
	font-size:12px;
	font-weight:bold;
	color:#fff;
}
img.user_avatar{
	width:50px;
	height:50px;
}
	
/*--按钮样式--*/
.managerBg{ background: url(../images/managerBg.gif) no-repeat; height:43px; padding-left:25px; padding-top:8px; margin-top:10px;}
.managerTop{ background-color:#fff;
border-bottom:2px solid #A9C0CE; height:35px;padding-top:6px;}




/* --------------------弹出框公共样式---------------------- */
#popup_container {
	font-family: Arial, sans-serif;
	font-size: 12px;
	min-width: 300px; /* Dialog will be no smaller than this */
	max-width: 600px; /* Dialog will wrap after this width */
	background: #FFF;
	border: solid 5px #999;
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#popup_title {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 1.75em;
	color: #666;
	background: #CCC url(../images/title.gif) top repeat-x;
	border: solid 1px #FFF;
	border-bottom: solid 1px #999;
	cursor: default;
	padding: 0em;
	margin: 0em;
}

#popup_content {
	background: 16px 16px no-repeat url(../images/info.gif);
	padding: 1em 1.75em;
	margin: 0em;
}

#popup_content.alert {
	background-image: url(../images/info.gif);
}

#popup_content.confirm {
	background-image: url(../images/important.gif);
}

#popup_content.prompt {
	background-image: url(../images/help.gif);
}

#popup_message {
	padding-left: 48px;
}

#popup_panel {
	text-align: center;
	margin: 1em 0em 0em 1em;
}

#popup_prompt {
	margin: .5em 0em;
}